* {
    margin: 0;
    padding: 0;
  }

  :root {
    --mainFontSize: 90px;
    --MCSize: calc(var(--mainFontSize) / 3)
  }
  
  html {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-family: 'Lobster', cursive;   
    line-height: 1.6;
    color: #666;
    background: #F6F6F6;
    height: 100vh;
    cursor: default;
  }

  a{
    color: black;
    text-decoration: none;
    transition: text-decoration .5s;
  }

  a:hover{
    text-decoration: underline;
  }

  body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  #mainContainer{
    width: 90vw;
    height: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity .5s;
  }


  #apiError {
    text-align: center;
    font-size: 30px;
  }

  #coinRank {
    display: block;
    text-align: center;
    font-size: var(--MCSize);
    margin-bottom: -30px;
    transition: font-size .5s;
  }

  #coinName, #coinPrice, #coinImage {
    word-wrap: break-word;
    /* white-space: nowrap; */
    text-align: center;
    font-size: var(--mainFontSize);
    transition: .15s ease-in-out;
  }

  .coinNameBulge {
    transform: scale(1.2);
  }

  #coinImage{
    width: 40px;
    height: 40px;
  }

  #instructions{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 22px;
    transition: opacity .5s;
    max-width: 90vw;
    display: none;
    visibility: hidden;
    opacity: 0;
  }